<div id="<%= dom_id contact %>">
  <p>
    <strong>Full name:</strong>
    <%= contact.full_name %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= contact.document_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= contact.birthday %>
  </p>

</div>
